@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* هنا بنخلي Cairo هو الخط الأساسي */
  --font-sans: var(--font-cairo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  /* ندي Cairo كخط أساسي + fallback */
  font-family: var(--font-cairo), "Cairo", Arial, Helvetica, sans-serif;
}
